div.feed {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

div.feed > img.large-logo {
    padding: 25px;

/*
    width: 50%;

    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
*/
}

div.feed > div.elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

div.feed > div.elements > iframe {
    padding: 10px;
    border: 0px;
}
