div.gigs {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

div.gigs > div.list {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

div.gigs > div.list > p {
    padding: 10px;
    margin: 5px;
    line-height: 1.0;

    background-color: var(--background-color-light);

    border-radius: 5px;
}

div.gigs > div.list > p.alternate {
    background-color: var(--background-color-bright);
}
