div.merch {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

div.merch > div.grouping {
}

div.merch > div.grouping > div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.merch > div.grouping > div.container > div.item {
    width: 20vw;
    max-width: 300px;

    border-radius: 5px;
    margin: 5px;
    padding: 10px;

    box-sizing: border-box;

    background-color: var(--background-color-alpha);
}

div.merch > div.grouping > div.container > div.item > img.preview {
    width: 100%;
}

div.merch > div.grouping > div.container > div.item > div {
    padding: 5px;
}

div.merch > div.grouping > div.container > div.item > span.title {
    display: block;
    font-weight: bold;
    padding: 15px;
}

div.merch > div.grouping > div.container > div.item > span.description {
    display: block;
    font-style: italic;
    padding: 15px;
}

div.merch > div.grouping > div.container > div.item > div.price {
    display: block;
    font-size: large;

    padding: 15px;
}

div.merch > div.grouping > div.container > div.item > div.sold {
    font-weight: bold;
    color: red;
}

/* shrink on smaller screen */
@media screen and (max-width: 800px) {

    div.merch > div.grouping > div.container > div.item {
        width: 45%;
        max-width: unset;
    }

}