img.navi-logo {
    height: 10vw;
    max-height: 100px;
    padding: 10px;

    display: inline-block;
    vertical-align: sub;

    position: fixed;
    z-index: 21;
}

div.navigation {
    width: 100%;
    height: 45px;
    display: inline-block;
    background-color: var(--background-color-light);

    position: fixed;

    z-index: 20;
}

div.navigation > div.icon {
    display: none;

    background-color: var(--background-color-light);
    border-radius: 5px;

    font-size: 30pt;
    width: 48px;
    padding: 5px;
    text-align: center;

    cursor: pointer;
}

div.navigation > div.title {
    display: none;
}

div.navigation > div.elements {
    text-align: center;
    float: right;

    border-radius: 10px;
    z-index: 2;
}

div.navigation > div.icon:hover ~ div.elements,
div.navigation > div.elements:hover {
    display: block;
}

div.navigation > div.elements > a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;

    border-radius: 10px;

    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: small;

    text-shadow: 0px 0px 5px black;
}

div.navigation > div.elements > a:hover {
    text-shadow: 0px 0px 25px var(--text-blur-color);
}

/* show as burger menu on small screen */
@media screen and (max-width: 800px) {

    div.navigation {
        width: 100%;
        background-color: transparent;
    }

    div.navigation > div.icon {
        display: inline-block;
        float: right;
    }

    div.navigation > div.title {
        display: inline-block;
    }

    div.navigation > div.elements {
        display: none;
        background-color: var(--background-color-bright);
        width: 150px;

        z-index: 2;
        position: absolute;
        right: 0px;
        top: 55px;

        opacity: 1.0;
    }

    div.navigation > div.elements > a {
        display: block;
    }

    div.navigation > div.elements > a.right {
        float: unset;
    }
}
