:root {
    --text-color: #f5f5f5;
    --text-blur-color: #606060;
    --link-color: #ffffff;
    --background-color: #030303;
    --background-color-light: #191919;
    --background-color-bright: #353535;

    font-family: sans-serif;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);

    background-image: url('/content/background.jpg');
    background-size: 75%;
    background-repeat: repeat;
}

html, body {
    height: 100%;
}

p {
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    padding-right: 15px;
    line-height: 1.5;
}

a {
    color: var(--link-color);
    cursor: pointer;

    text-decoration: none;

    transition: transform .25s ease;
}

a:hover {
    text-decoration: underline;

    transform: scale(1.15);
}

img {
    max-width: 100%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.title {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 100% 20%;
    transform-origin: center;

    transform: rotate(5deg);
    filter: grayscale(1.0) brightness(0.5) /* blur(1px) */ ;

    position: relative;
    top: -15px;
    z-index: -1;
}

img.icon {
    width: 24px;
}

h1 {
    text-align: center;
}

h1.shifted {
    text-shadow: 0px 0px 25px var(--text-blur-color);

    user-select: none;

    /* move up and release spacing below */
    position: relative;
    top: -100px;
    height: 0px;
    margin: 5px;

    font-size: xxx-large;
    text-transform: uppercase;
    letter-spacing: 1rem;

    z-index: 1;
}

.center {
    text-align: center;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

p.footer {
    padding: 25px;
    font-size: x-small;
}

@media screen and (max-width: 800px) {

    h1.shifted {
        font-size: xx-large;
        top: -90px;
    }

    img.title {
        height: 200px;
    }

}
