:root {
    --text-color: #f5f5f5;
    --link-color: #99ff99;
    --background-color: #434343;
    --background-color-light: #494949;
    --background-color-bright: #555555;
    --navi-color: #6c6c6c;
    --highlight-color: #a5a5a5;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
}

html, body {
    height: 100%;
}

p {
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    padding-right: 15px;
    line-height: 1.5;
}

a {
    color: var(--link-color);
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.center {
    text-align: center;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}