:root {
    --text-color: #f5f5f5;
    --link-color: #ffffff;
    --background-color: #030303;
    --background-color-light: #191919;
    --background-color-bright: #353535;

    font-family: sans-serif;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
}

html, body {
    height: 100%;
}

p {
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    padding-right: 15px;
    line-height: 1.5;
}

a {
    color: var(--link-color);
    cursor: pointer;

    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.icon {
    width: 24px;
}

h1 {
    text-align: center;
}

.center {
    text-align: center;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

p.footer {
    padding: 25px;
    font-size: x-small;
}