
div.navigation {
    width: 100%;
    height: auto;
    background-color: var(--navi-color);
}

div.navigation > div.icon {
    display: none;

    font-size: 40pt;
    width: 48px;
    padding: 5px;
    text-align: center;

    cursor: pointer;
}

div.navigation > div.title {
    display: none;
}

div.navigation > div.icon:hover {
    background-color: var(--highlight-color);
}

div.navigation > div.icon:hover ~ div.elements,
div.navigation > div.elements:hover {
    display: block;
}

div.navigation > div.elements > a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;

    color: var(--text-color);
    cursor: pointer;
}

div.navigation > div.elements > a.right {
    float: right;
}

div.navigation > div.elements > a:hover {
    background-color: var(--highlight-color);
}

/* show as burger menu on small screen */
@media screen and (max-width: 800px) {
    div.navigation {
        width: 100%;
        height: 9vh;
    }

    div.navigation > div.icon {
        display: inline-block;
    }

    div.navigation > div.title {
        display: inline-block;
    }

    div.navigation > div.elements {
        display: none;
        background-color: var(--navi-color);
        width: 25%;

        position: relative;
        z-index: 10;
    }

    div.navigation > div.elements > a {
        display: block;
    }

    div.navigation > div.elements > a.right {
        float: unset;
    }

    iframe#content {
        height: 90vh;
    }
}
