img.logo {
    height: 10vw;
    max-height: 100px;
    padding: 10px;

    display: inline-block;
    vertical-align: sub;

    position: absolute;
}

div.navigation {
    width: 100%;
    height: 55px;
    display: inline-block;
    background-color: transparent
}

div.navigation > div.icon {
    display: none;

    font-size: 30pt;
    width: 48px;
    padding: 5px;
    text-align: center;

    cursor: pointer;
}

div.navigation > div.title {
    display: none;
}

div.navigation > div.icon:hover {
    background-color: var(--background-color-bright);
}

div.navigation > div.elements {
    text-align: center;
    float: right;
    padding: 3px;
}

div.navigation > div.icon:hover ~ div.elements,
div.navigation > div.elements:hover {
    display: block;
}

div.navigation > div.elements > a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;

    color: var(--text-color);
    cursor: pointer;
}

div.navigation > div.elements > a.right {
    float: right;
}

div.navigation > div.elements > a:hover {
    background-color: var(--background-color-bright);
}

/* show as burger menu on small screen */
@media screen and (max-width: 800px) {

    div.navigation {
        width: 100%;
        background-color: var(--background-color-light);
    }

    div.navigation > div.icon {
        display: inline-block;
        float: right;
    }

    div.navigation > div.title {
        display: inline-block;
    }

    div.navigation > div.elements {
        display: none;
        background-color: var(--background-color-light);
        width: 150px;

        z-index: 10;
        position: absolute;
        right: 0px;
    }

    div.navigation > div.elements > a {
        display: block;
    }

    div.navigation > div.elements > a.right {
        float: unset;
    }
}
